{% extends "mainpage/base.html" %}

{% block content %}

<p>

    <div class="p-1">
        <div class="bg-secondary p-3 rounded-lg m-3">
            <h1 class="display-5 font-weight-bold text-white">கலை எம் தவம் <br></h1>
            <h1 class="display-5 mx-5 font-weight-bold text-white" >  கலை எம் தாகம்</h1>
            {% comment %} <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> {% endcomment %}
            <hr class="my-4">
            <p class="font-weight-bold text-white">Strives to Perform, Promote, Train and Certify Traditional Tamil Performing Arts, fanning the passionate and artistic flame inside everyone of you.</p>
            <p class="font-weight-bold text-white">புலம் பெயர்ந்த மண்ணில் தமிழர் கலை வடிவங்களை பரப்ப, பயிற்றுவிக்க, கல்வித் திட்டங்களை உருவாக்க,கல்வியாக கற்பிக்க உருவானது தமிழ்  நிகழ் கலைக் கழகம்</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>





{% endblock content %}