{% extends "mainpage/base.html" %}

{% block content %}

<div class="p-5">

    {% comment %} <h3 class="p-5 center-justified"> பறை PARAI</h3> {% endcomment %}
    <h3 class="pb-4 text-start fw-bold"> பறை PARAI</h3>

    <p class="pt-4 font-weight-bold text-white">மகிழ்ச்சியை,உற்சாகத்தை விதைப்பது பறை.
    எல்லோருக்குள்ளும்  குழந்தையும் இருக்கிறது மிருகமும் இருக்கிறது.
    எல்லோருக்குள்ளும் உள்ள குழந்தையை பாதுகாப்பது பறையின் மகிழ்ச்சி.</p>
    
    <p><span class=fw-bold>என்ன செய்தது அமெர்க்க பறைக் குழு:</span><br></p>
    <p class="font-weight-bold text-white">அடிமைப்பட்ட மனிதர்களை பார்த்திருப்பீர்கள்.
    அடிமைப்பட்ட இசைக்கருவியைப் பார்த்திருக்கிறீர்களா!.</p>
    
    <p class="font-weight-bold text-white">பறைக்கு இடைப்பட்ட அடிமை விலங்கு அமெரிக்க பறைக்குழுவினர்  அடித்த பறை அடியில் உடைக்கப்பட்டு இன்று விடுதலை பெற்ற கருவியாய் வெற்றியோடு இசைக்கப்படுகிறது.
    கற்றவர்களுக்கென்றும் கல்லாதவர்க்கென்றும் இசைக்கருவிகள் பிரிக்கப்பட்டு,
    இந்தக் கருவியோடு, ஏழ்மையை அடிமைத் தனத்தை தொடர்பு படுத்தியிருந்த சமூகத்தில் அந்த மனத்தடையை உடைத்தெறிந்த முதல் மென்பாருலாளர் குழு.
    We broke the Glass Ceiling.</p>
        
    <p class="font-weight-bold text-white">ஒரு மனிதனோடு மனிதன் உரையாடுவது பேச்சு, If Two people talk it is conversation.
    Many wants to express one IDEA you can sing.
    If many wants to be happy and wants to share and multiply that, that is Communal dance.
    பலரும் சேர்ந்து ஒன்றை பகர்வது குழுப்  பாடலில் முடியும்.</p>
    
    <p class="font-weight-bold text-white">அனைவரும் சமூகமாக மகிழ்ச்சியை வெளிப்படுத்துவது   ஆட்டம்  , முறைப்படுத்தப்பட்டது  நடனம். அப்படி  நாமெல்லோரும் சேர்ந்து கூடி 
    வயது,பாலினம்,பதவி,கல்வி  தேவையற்ற வரம்புகளை  கடப்பதற்கு  தமிழர்  நாட்டுப்புறக்கலைகள் பெரிதும் பயன்படும்.
    தன்முனைப்பு எனும் மன  நோயிற்கான  மருந்து சமூக  நடனம்.</p>
    
    
    <p class="font-weight-bold text-white">Isai and Nadanam. Music and Dance.<br>
       In Parai legs dances for beats, The Body synchronizes with the Rhythm and it is a Total music Journey of your SELF.
       In Parai Fusion we show that Thaalam is same for different Dance movements. It depicts Heartbeat Thalam is same for Human beings. </p>

       <p class="font-weight-bold text-white">இசையின் வழியே மனிதத்தைப் பரப்பிய விடுதலைக் கலை. இசையின் ஆகப்பெரும் மகத்துவமே, அது உங்களைத் தாக்கும்போது உங்களை மறந்து மகிழ்ச்சியாக இருப்பதுதான்.
 குழந்தை முதல் வயதுவரம்பில்லாமல் ஆடாத தோன்றுவது பறை இசை. </p>

 <p class="font-weight-bold text-white">இசையால் உலகைக் கைப்பற்றும். No ethnic Group can live as an Island.
 Art bridges different cultures.Music and Dance is the Universal Language thru which we can embrace other cultures, our hearts wide opened.
 குடும்பத்தில்  மகள், மகன்,கணவன் ,மனைவி அனைவரும் சேர்ந்து ஆடக்கூடிய இசை வடிவம் பறையாட்டம் ஒன்றுதான். அதை வடிவமைத்து பரப்பியதில் நாங்கள் நிறைவு பெற்றோம்.இனி உங்களையும் அந்த உற்சாகப பெருவெள்ளத்தில்  அழைக்கிறோம்.

 ஆண் பெண் சரி நிகர் சம  நிலையில் ஆடுவது பல மனத்  தடைகள அகற்றுகிறது
 
 உலகம் முழுக்க   இசை கேட்டிருப்பார்கள்.
இசைக்கு  நடமாடிப்பார்த்திருப்பார்கள்.
இசையை இசைக்க இசைக்க நடனமாடுவதாது 
இசையே ஆடுவதுதான் தமிழனின் பறையிசை  நடனம்.</p>

<p class="font-weight-bold text-white"> PARAI - Universal  Music uniting the Mankind.<br>

“music is the universal language of mankind” is attributed to Henry Wadsworth.
Parai - Drumming to Unite<br>


Parai is the Sound of Happiness. மகிழ்ச்சியின் இசை,பறை - உள்ள மகிழ்ச்சி, உள மகிழ்ச்சி, குழு மகிழ்ச்சி.

உலகைப் பிடித்திருக்கும் மத,சாதிமொழி வெறுப்பை ஓட்டி ஒன்றிணைக்கும் அருமருந்து கலை.
அதன் அமுதான வடிவம் பறை. </p>


</div>





{% endblock content %}