{% extends "mainpage/base.html" %}

{% block content %}

<div class="p-5">

    <h3 class="pb-4 text-start fw-bold">  சிலம்பம் Silambam</h3> 
        <p class="pt-4 font-weight-bold text-white">தற்காப்புக் கலைகளின் மூத்த கலை சிலம்பம். தமிழர்களின் போர்க் கலையாகஇருந்து பிற்காலத்தில் தற்காப்புக்கலையாக பயிலப்பட்டு வருகிறது.</p>

        <p class="font-weight-bold text-white">அமெரிக்க மண்ணில் 2008லிருந்து புலம் பெயர்ந்த தமிழர்களால் மேடைகளில்  நிகழ்த்தப்பட்டு, 2010லிருந்து,     அமெரிக்க தமிழ்ச் சங்கப் பேரவை   சிறப்பு விருந்தினர்களாக
    வந்த ஆசான்கள் செந்தில் ஜோதிகண்ணன், சந்தியா, சூர்யா, அருணாச்சலம் ஐயா ஆகியோரின் பயிற்சியில் பல கலைஞர்கள் உருவாகியுள்ளனர்.</p>

    <p class="font-weight-bold text-white">தமிழ்  நிகழ் கலைக்கழக சிலம்ப அணி தற்காப்புக்கலையினை அமெரிக்க மண்ணில்,  நிகழ்ச்சிகளை ஒருங்கிணைக்க, பயிற்றுவிக்க, சான்றிதழ்கள் வழங்கும்  நோக்கில் சிறப்பாக  நடந்து வருகிறது.
    இதில் பல  நிகழ்ச்சிகளை உள்ளூர் தமிழ்ச் சங்கங்களுடன் இணைந்து ஓருங்கிணைக்கிறது. இது வரை முப்பதுக்கும்  மேற்பட்ட  நிகழ்சிகளை, பயிற்சிப்பட்டறைகளை  நடத்தியுள்ளது.</p>
    



























</div>

{% endblock content %}