{% extends "mainpage/base.html" %}

{% block content %}

<div class="p-5">

    <h3 class="pb-4 text-start fw-bold"> பாடநூல் மற்றும் பல்கலைக்கழக இசை பட்டய வகுப்புகள் </h3>  

<p class="font-weight-bold text-white"> அமெரிக்காவின் வாசிங்டன் பல்கலைக் கழகத்தில் தமிழிசைக்கான பாடநூல் மற்றும் பல்கலைக்கழக இசை பட்டய வகுப்புகள் தொடங்கப்பட்டன...
 
    தமிழகத்தில் பாடிவரும்  செவ்விசை வேர்கள் இரண்டாயிரம் ஆண்டு பழமையானது என்றாலும் தமிழிசைக்கென முறைப்படுத்தப்பட்ட பாட நூல் இல்லை.   இதை உணர்ந்து அமெரிக்காவில் உள்ள “தமிழ் நிகழ் கலைக் கழகம் (Institute of Tamil Performing arts - ITPA)”  
    என்ற அமைப்பு  தமிழ் அறிஞர்களை ஒருங்கிணைத்து  

    <a class = fw-bold style="color:rgb(245, 126, 66)" href="{% url 'mainpage:textbook' %}">Continue Reading...</a></P>

    















</div>

{% endblock content %}